<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.garvinen.leadtheway">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    ...
    <!-- Needed only if your app targets Android 5.0 (API level 21) or higher. -->
    <uses-feature android:name="android.hardware.location.gps" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/leadtheway_loggo"
        android:label="Vägledaren"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseActivity" />
        <activity android:name=".EndAtActivity" />
        <activity android:name=".GoTooActivity" />
        <activity android:name=".SettingsDestinationActivity" />
        <activity android:name=".DestinationAdder">

            <!-- android:theme="@style/AppTheme.BehindDestAdder"> -->
        </activity>
        <activity android:name=".SettingsNotificationsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".NotificationAdder" />
        <activity android:name=".IconAdder" />
        <activity android:name=".TravelInfoActivity"></activity>
    </application>

</manifest>