<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.garvinen.leadtheway">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ChooseActivity" />
        <activity android:name=".EndAtActivity" />
        <activity android:name=".GoTooActivity" />
        <activity android:name=".SettingsDestinationActivity" />
        <activity android:name=".DestinationAdder">

            <!-- android:theme="@style/AppTheme.BehindDestAdder"> -->
        </activity>
        <activity android:name=".SettingsNotificationsActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".NotificationAdder" />
        <activity android:name=".IconAdder" />
        <activity android:name=".TravelInfoActivity"></activity>
    </application>

</manifest>